.navbar-brand{
	display: inline-flex;
	align-items: center;
	gap: 0.5rem; /* space between logo and text */
	font-size: 1.125rem;
}

.navbar-brand img{
	width: 30px;
	height: 30px;
	object-fit: cover;
	display: inline-block;
}

.navbar .container-fluid{
	padding-left: 1rem;
	padding-right: 1rem;
}

#signup-button, #login-button{
	font-size: 13px;
}
