body{
    font-family: "Inter", sans-serif;
}

html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
}

.navbar-brand{
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.125rem;
}

.navbar-brand img{
	width: 30px;
	height: 30px;
	object-fit: cover;
	display: inline-block;
}

.navbar .container-fluid{
	padding-left: 1rem;
	padding-right: 1rem;
}

#signup-button, #login-button{
	font-size: 13px;
}

#home-page-brand{
	font-size: 70px;
}

#hero-page{
	margin-top: 62px;
}

.privacy{
	font-size: 12px;
	color: gray;
	margin-top: 7px;
}

#emailBtn{
	width: 100px;
}

#email-page{
	background-color: white;
	border-radius: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.footer-brand{
	width: 23px;
	border-radius: 50px;
}

.footer-brand-caption{
	font-size: 12px;
	color: hsla(0, 0%, 91%, 0.818);
	padding-top: 5px;
}

.footer-links{
	font-size: 14px;
	color: hsla(0, 0%, 91%, 0.818);
}

.footer-span{
	display: flex;
	gap: 8px;
	font-size: 14px;
	color: hsla(0, 0%, 91%, 0.818);
}

.footer-span:hover, .footer-links:hover{
	color: white;
}